@model EditUserViewModel

<div class="row align-content-center">
    <div class="col">
        <h1 >Edit User Form</h1>
        <hr />
        <form asp-action="Edit" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="mb-3">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">
                            <h4>Password Update</h4>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="Password"></label>
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" />
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" >
                    <div class="card mb-3">
                        <div class="card-header">
                            <h4>User Roles</h4>
                        </div>
                        <div class="card-body">
                            @foreach (var role in ViewBag.Roles)
                            {
                                <div class="form-check">
                                    <input type="checkbox" class="form-check-input"
                                           id="@role" value="@role" name="SelectedRoles"
                                    @(Model.SelectedRoles.Any(i => i == role) ? "checked" : "") /><!--SelectedRoles EditUserViewModel e göre yazildi.-->
                                    <label class="form-check-label" for="@role">@role</label>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-info"><i class="fa-solid fa-plus"></i> Save</button>
                </div>
            </div>
        </form>
    </div>
</div>